body{
    background-color: khaki;
}
#contenedor{
    margin: 70px;
    width: 900px;
    height: 400px;
    background-color: firebrick;
    color: white;
    font-family: Helvetica, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#encabezado{
    font-size: 20px;
    font-family: Helvetica, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

.label{
    margin-left: 35%;
}

.input{
    margin-left: 5px;
}

.btnCalcular{
    background-color: black;
    color: white;
    font-family: Helvetica, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 6px;
    padding: 5px;
    margin-left: 5%;
}

.btnLimpiar{
    background-color: white;
    font-family: Helvetica, 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: white;
    border-radius: 6px;
    padding: 5px;
    margin-left: 45%;
}
